	<div id="dashboardindex" class"">
		<div id="masthead" class="">
			<div id="mainpanel" class="panel panel-default box-shadow--16dp">
				<div class="panel-heading"><h1><b>Campaigns</b></h1></div>
				<div class="row">
					<% if Campaign.where(user_id: current_user.id).to_a.length == 0 %>
					<div class="centered">
							<h3> No Campaigns..... yet! </h3>
					</div>
					<%else %> 
						<% Campaign.where(user_id: current_user.id).to_a.each_with_index do |camp, index| %>
						<div class="shake">
							<div id="namecmpgn" class="col-md-7">
								<h1 class=""><%=link_to "#{camp.name}", campaign_path(camp)%>
									<p class="lead"><%=link_to "#{camp.url}", campaign_path(camp)%></p>
								</h1>
								<%= link_to '', camp, class: 'glyphicon glyphicon-remove', style: "font-size:28px;", 
								method: :delete %>
							</div>
							<div class="col-md-5">
								<div class="well well-lg">
									<div class="image">
										<% @logo = Logo.where(campaign_id: camp).to_a%>
										<% if (@logo.length > 0) %>
										<%=link_to(image_tag(@logo[0].image.url(:medium)), campaign_path(camp))%>
										<%else%>
										<%=link_to(image_tag('placeholder.png'), campaign_path(camp))%>
										<% end %>
									</div>
								</div>
							</div> 
						</div>
						<% end %>
					<%end%>	
				</div>
			</div>
		</div>
	</div>
